.footer {
  .gradient();
}

.footer__wrap {
  min-height: 149px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__item {
  margin-left: 15px;
}

.footer__link {
  display: block;
  
  &:hover,
  &:active {
    opacity: 0.8;
  }
}
